.profile
    display: grid
    grid-template-columns: minmax(min-content, 280px) 3fr
    grid-gap: $spacing-3
    &-left
        margin-top: $spacing-4
    &-right
        margin-top: $spacing-4
    +mobile
        display: block
        &-left, &-right
            padding-left: $spacing-3
            padding-right: $spacing-3
